* {
  padding: 0;
  margin: 0;
}

:root {
  --red-33:   #bb232333;
  --red-66:   #bb232366;
  --red-cc:   #bb2323cc;
  --red-ee:   #bb2323ee;
  --red:      #bb2323;
  --orange-33:#ce601933;
  --orange-66:#ce601966;
  --orange-cc:#ce6019cc;
  --orange-ee:#ce6019ee;
  --orange:   #ce6019;
  --yellow-33:#ad830a33;
  --yellow-66:#ad830a66;
  --yellow-cc:#ad830acc;
  --yellow-ee:#ad830aee;
  --yellow:   #ad830a;
  --olive-33: #79881133;
  --olive-66: #79881166;
  --olive-cc: #798811cc;
  --olive-ee: #798811ee;
  --olive:    #798811;
  --green-33: #1c9e3c33;
  --green-66: #1c9e3c66;
  --green-cc: #1c9e3ccc;
  --green-ee: #1c9e3cee;
  --green:    #1c9e3c;
  --teal-33:  #039a9433;
  --teal-66:  #039a9466;
  --teal-cc:  #039a94cc;
  --teal-ee:  #039a94ee;
  --teal:     #039a94;
  --blue-33:  #1c72b133;
  --blue-66:  #1c72b166;
  --blue-cc:  #1c72b1cc;
  --blue-ee:  #1c72b1ee;
  --blue:     #1c72b1;
  --violet-33:#552dab33;
  --violet-66:#552dab66;
  --violet-cc:#552dabcc;
  --violet-ee:#552dabee;
  --violet:   #552dab;
  --purple-33:#8b2baa33;
  --purple-66:#8b2baa66;
  --purple-cc:#8b2baacc;
  --purple-ee:#8b2baaee;
  --purple:   #8b2baa;
  --pink-33:  #bf318033;
  --pink-66:  #bf318066;
  --pink-cc:  #bf3180cc;
  --pink-ee:  #bf3180ee;
  --pink:     #bf3180;
  --brown:    #a5673f;
  --grey:     #767676;
  --dark-33:  #33333333;
  --dark-66:  #33333366;
  --dark-cc:  #333333cc;
  --dark-ee:  #333333ee;
  --dark:     #333;
}
.red {
  background-color: var(--red);
}
.orange {
  background-color: var(--orange);
}
.yellow {
  background-color: var(--yellow);
}
.olive {
  background-color: var(--olive);
}
.green {
  background-color: var(--green);
}
.teal {
  background-color: var(--teal);
}
.blue {
  background-color: var(--blue);
}
.violet {
  background-color: var(--violet);
}
.purple {
  background-color: var(--purple);
}
.pink {
  background-color: var(--pink);
}
.brown {
  background-color: var(--brown);
}
.grey {
  background-color: var(--grey);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
input[type="range"] {
  accent-color: #ccc;
}
input[type="range"]:focus {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  overflow: hidden;
}
body[style^="opacity"] {
  background: transparent;
}
header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: #eee;
  position: relative;;
  height: 40px;
  box-shadow: 0 0 2px #00000066;
  z-index: 10;
  text-align: center;
  line-height: 40px;
  font-size: .8rem;
}
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #016936;
  width: 20px;
  height: 20px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-top: 12px;
}
input[type="checkbox"]::before {
  content: "";
  color: #333;
  width: 10px;
  height: 10px;
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #333;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:focus {
  /* outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em); */
}
input[type="checkbox"]:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.panelsContainer {
  display: grid;
  grid-template-columns: 200px 10px 1fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 40px);
  overflow: hidden;
  /* background-color: #ccc; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px #00000066; */
}

.panelsContainer.viewFocused {
  grid-template-columns: 0px 10px 1fr !important;
}

#panelList {
  grid-column: 1;
  grid-row: 1;
  background-color: #eee;
  display: grid;
  grid-template-rows: 1fr 40px;
}
#panelList:hover #listAdd {
  display: block;
}

#panelNote {
  /* grid-column: 3;
  grid-row: 1; */
  display: grid;
  grid-template-rows: 40px 1fr;
  background-color: #fff;
  /* padding: 10px 10px 10px 0; */
}
#panelNote.showModal #areaNew,
#panelNote.showModal #areaListNotes {
  display: none;
}

#gutter {
  grid-column: 2;
  grid-row: 1;
  width: 10px;
  cursor: col-resize;
  background-color: #fff;
  /* border-radius: 10px 0 0 10px; */
  /* margin: 10px 0; */
  box-shadow: 0 0 3px #66666666;
}

.panelToggle {
  cursor: pointer;
  color: #666;
  padding: 10px;
}
.panelToggle:hover {
  color: #000;
}
.panelToggle.active {
  cursor: default;
  color: #000;
  background-color: #ddd;
}
.panel {
  overflow: hidden auto;
}

#areaListLists {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden auto;
}
#areaListLists li {
  list-style: none;
  margin-bottom: 1px;
  /* background-color: #ddd; */
  /* box-shadow: 0 0 2px #66666666; */
  /* border-radius: 10px 0 0 10px; */
  grid-template-columns: 1fr 20px;
  display: grid;
}
#areaListLists li:first-child {
  /* border-radius: 10px 0 0 0; */
  /* margin-top: 0; */
}
/* #areaListLists li:last-child {
  border-radius: 0 0 0 10px;
} */
#areaListLists li.edit span {
  display: inline;
}
#areaListLists li.edit input {
  background-color: #fff;
  cursor: text;
  width: calc(100% - 10px);
}
#areaListLists li.active {
  /* border-top: 1px solid #999; */
  cursor: default;
}
#areaListLists input {
  background-color: #eee;
  border: none;
  width: calc(100% + 20px);
  outline: none;
  height: 40px;
  padding-left: 10px;
  /* border-radius: 10px 0 0 10px; */
  cursor: default;
  color: #666;
}
#areaListLists input:hover {
  background-color: #eee;
}
#areaListLists input.active {
  background-color: #fff;
  position: relative;
  /* box-shadow: 0 0 10px #66666666; */
  color: #000;
  box-shadow: 0 0 2px #66666666;
}
#areaListLists input.active.hidden {
  background-color: #eee;
}
#areaListLists li span {
  width: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
  cursor: pointer;
  display: none;
}
#areaListLists li span {
  color: #666;
}

#listAdd {
  display: none;
}
#listAdd #listAddName {
  text-align: center;
  padding: 0;
  background-color: transparent;
  /* border: 1px dashed #ccc; */
  color: #aaa;
  border-right: none;
  width: 100%;
}
#listAdd #listAddName:hover {
  cursor: pointer;
  color: #999;
  /* border-color: #999; */
}
#listAdd #listAddName.active {
  text-align: left;
  border: none;
  background-color: #fff;
  padding-left: 10px;
}

#txtNew {
  border: none;
  width: calc(100% - 60px);
  height: 39px;
  padding: 0 10px;
  outline: none;
}
#btnNew {
  width: 40px;
  height: 39px;
  color: #ccc;
  position: absolute;
  text-align: center;
  line-height: 39px;
  cursor: pointer;
}
#areaNew {
  grid-column: 1;
  grid-row: 1;
  border-bottom: 1px solid #eee;
}
#areaNew:hover {
  border-color: #ccc;
}
#areaNew:hover #btnNew {
  color: #999;
}

#areaListNotes {
  grid-column: 1;
  grid-row: 2;
  overflow: hidden auto;
}
#areaListNotes li {
  list-style: none;
  height: 40px;
  line-height: 40px;
  /* border-top: 1px solid transparent; */
  border-bottom: 1px solid #eee;
  padding-left: 6px;
  grid-template-columns: 26px 1fr 90px 36px;
  display: grid;
  transition: transform 0.3s;
}
#areaListNotes li.dragging {
  transform: scale(.9);
}
#areaListNotes input[type='text'] {
  border: none;
  /* width: calc(100% - 50px); */
  outline: none;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  cursor: default;
  color: #666;
  /* margin-left: 20px; */
}
#areaListNotes input[type='text'].active {
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 10px #66666666;
  color: #000;
}
#areaListNotes li.edit input[type='text'] {
  cursor: text;
}
#areaListNotes li.edit span.noteRemove {
  display: inline;
}
#areaListNotes li:hover input[type='text'] {
  color: #333;
}
#areaListNotes li:hover input[type='checkbox'] {
  border-color: #ccc;
}
#areaListNotes li span.noteRemove {
  color: #ccc;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  display: none;
}
#areaListNotes li span.noteRemove:hover {
  color: #666;
}
#areaListNotes li span.noteMoment {
  font-size: 10px;
  text-align: right;
  color: #666;
  padding-right: 10px;
}
#areaListNotes li.completed input[type='text'] {
  color: #ccc;
  text-decoration: line-through;
}
#areaSettings {
  grid-column: 1;
  grid-row: 2;
  line-height: 40px;
  padding: 0 8px;
}
#areaSettings.active {
  background-color: #fff;
  z-index: 9;
  box-shadow: 0px 0px 1px #ccc;
}
#areaSettings #btnSettings {
  width: 30px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: #ccc;
}
#areaSettings #btnSettings:hover {
  color: #999;
}

.modal {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.modal.open {
  display: block;
}
.modal .modal-contents {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.modal .brand {
  font-size: 24px;
  margin-bottom: 6px;
}
.modal .brand-version {
  font-size: 12px;
}
.modal-section {
  padding: 10px 0;
  margin-bottom: 10px;
}
.modal-section-title {
  color: #333;
  font-size: 12px;
  margin-bottom: 10px;
}
.themeSelection {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 3px solid transparent;
  border-radius: 20px;
  margin: 0 2px;
  cursor: pointer;
}
.themeSelection.selected {
  border-color: transparent;
}
.sectionMode {
  margin-bottom: 10px;
}
.sectionMode .modeSelection {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 33px;
  margin: 0 2px;
}
.sectionMode #mode-light {
  background-color: #eee;
  color: #333;
}
.sectionMode #mode-dark {
  background-color: #333;
  color: #eee;
}