* {
  padding: 0;
  margin: 0;
}

:root {
  --red:      #ef9a9a;
  --red-33:   #ef9a9a33;
  --red-66:   #ef9a9a66;
  --red-cc:   #ef9a9acc;
  --red-ee:   #ef9a9aee;
  --red-stroke:     #a76b6b;
  --red-stroke-66:  #a76b6b66;
  --red-stroke-cc:  #a76b6bcc;
  --orange:   #ffcc80;
  --orange-33:#ffcc8033;
  --orange-66:#ffcc8066;
  --orange-cc:#ffcc80cc;
  --orange-ee:#ffcc80ee;
  --orange-stroke:     #b28e59;
  --orange-stroke-66:  #b28e5966;
  --orange-stroke-cc:  #b28e59cc;
  --amber:    #ffe082;
  --amber-33: #ffe08233;
  --amber-66: #ffe08266;
  --amber-cc: #ffe082cc;
  --amber-ee: #ffe082ee;
  --amber-stroke:     #b29c5b;
  --amber-stroke-66:  #b29c5b66;
  --amber-stroke-cc:  #b29c5bcc;
  --green:    #a5d6a7;
  --green-33: #a5d6a733;
  --green-66: #a5d6a766;
  --green-cc: #a5d6a7cc;
  --green-ee: #a5d6a7ee;
  --green-stroke:     #739574;
  --green-stroke-66:  #73957466;
  --green-stroke-cc:  #739574cc;
  --teal:     #80cbc4;
  --teal-33:  #80cbc433;
  --teal-66:  #80cbc466;
  --teal-cc:  #80cbc4cc;
  --teal-ee:  #80cbc4ee;
  --teal-stroke:     #598e89;
  --teal-stroke-66:  #598e8966;
  --teal-stroke-cc:  #598e89cc;
  --blue:     #90caf9;
  --blue-33:  #90caf933;
  --blue-66:  #90caf966;
  --blue-cc:  #90caf9cc;
  --blue-ee:  #90caf9ee;
  --blue-stroke:     #648dae;
  --blue-stroke-66:  #648dae66;
  --blue-stroke-cc:  #648daecc;
  --violet:   #9fa8da;
  --violet-33:#9fa8da33;
  --violet-66:#9fa8da66;
  --violet-cc:#9fa8dacc;
  --violet-ee:#9fa8daee;
  --violet-stroke:     #6f7598;
  --violet-stroke-66:  #6f759866;
  --violet-stroke-cc:  #6f7598cc;
  --purple:   #ce93d8;
  --purple-33:#ce93d833;
  --purple-66:#ce93d866;
  --purple-cc:#ce93d8cc;
  --purple-ee:#ce93d8ee;
  --purple-stroke:     #906697;
  --purple-stroke-66:  #90669766;
  --purple-stroke-cc:  #906697cc;
  --pink:     #f48fb1;
  --pink-33:  #f48fb133;
  --pink-66:  #f48fb166;
  --pink-cc:  #f48fb1cc;
  --pink-ee:  #f48fb1ee;
  --pink-stroke:     #aa647b;
  --pink-stroke-66:  #aa647b66;
  --pink-stroke-cc:  #aa647bcc;
  --brown:    #a5673f;
  --grey:     #767676;
  --dark-33:  #33333333;
  --dark-66:  #33333366;
  --dark-cc:  #333333cc;
  --dark-ee:  #333333ee;
  --dark:     #333;
}
.red {
  background-color: var(--red);
}
.orange {
  background-color: var(--orange);
}
.amber {
  background-color: var(--amber);
}
.olive {
  background-color: var(--olive);
}
.green {
  background-color: var(--green);
}
.teal {
  background-color: var(--teal);
}
.blue {
  background-color: var(--blue);
}
.violet {
  background-color: var(--violet);
}
.purple {
  background-color: var(--purple);
}
.pink {
  background-color: var(--pink);
}
.brown {
  background-color: var(--brown);
}
.grey {
  background-color: var(--grey);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
input[type="range"] {
  accent-color: #ccc;
}
input[type="range"]:focus {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: calc(100% - 3px);
}
body[style^="opacity"] {
  background: transparent;
}
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #016936;
  width: 20px;
  height: 20px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-top: 12px;
}
input[type="checkbox"]::before {
  content: "";
  color: #333;
  width: 10px;
  height: 10px;
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #333;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.container *:not(.noteContent),
#titlebar .appIcon {
  transition: background-color .3s, border-color .3s, color .3s;
}
.panelsContainer {
  display: grid;
  grid-template-columns: 100px 10px 1fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 3px);
  overflow: hidden;
  border-radius: 8px;
  background: #eee;
}

.panelsContainer.viewFocused {
  grid-template-columns: 0px 10px 1fr !important;
}

#panelList {
  grid-column: 1;
  grid-row: 1;
  background-color: #eee;
  display: grid;
  grid-template-rows: 1fr 40px;
}
#panelList:hover #listAdd {
  display: block;
  text-align: center;
}

#panelNote {
  display: grid;
  grid-template-rows: 40px 40px auto 1fr;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -1px 0px 6px #cccccc99;
  transition: box-shadow .3s;
}
#panelNote.showModal #areaNew,
#panelNote.showModal #areaPinNotes,
#panelNote.showModal #areaListNotes {
  display: none;
}

#gutter {
  grid-column: 2;
  grid-row: 1;
  width: 10px;
  cursor: col-resize;
}
#gutter:hover + #panelNote {
  box-shadow: -1px 0px 6px #ccccccff;
  transition: box-shadow .3s;
}

.panelToggle {
  cursor: pointer;
  color: #666;
  padding: 10px;
}
.panelToggle:hover {
  color: #000;
}
.panelToggle.active {
  cursor: default;
  color: #000;
  background-color: #ddd;
}
.panel {
  overflow: hidden auto;
}

.icon {
  border-radius: 20px;
  color: #ccc;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  margin: 10px 0;
}
.icon:hover {
  background-color: #eeeeee;
  color: #666;
}
.noteContent {
  margin-right: 6px;
}
.noteSub {
  display: none;
  z-index: 2;
}
li.edit .noteSub {
  display: inline;
}
.noteCollapse {
  background: url('./images/chevron-left.svg') center center no-repeat transparent;
  filter: opacity(0);
  width: 30px;
  height: 40px;
  line-height: 40px;
  z-index: 2;
  cursor: pointer;
  transition: linear .1s;
}
.noteCollapse.show {
  filter: opacity(0.3);
}
.noteCollapse.show:hover {
  filter: opacity(0.9);
}
.noteCollapse.show.active {
  transform: rotate(-90deg);
  transition: linear .1s;
}

#areaListLists {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden auto;
}
#areaListLists li {
  list-style: none;
  margin-bottom: 1px;
  grid-template-columns: 1fr 30px;
  display: grid;
}
#areaListLists li.edit span {
  display: inline;
}
#areaListLists li.edit input {
  background-color: #fff;
  cursor: text;
  width: calc(100% - 20px);
  border-radius: 0 40px 40px 0;
}
#areaListLists li.active {
  cursor: default;
}
#areaListLists input {
  background-color: #eee;
  border: none;
  border-left: 3px solid transparent;
  width: calc(100% + 7px);
  outline: none;
  height: 40px;
  padding: 0 10px;
  cursor: default;
  color: #666;
  text-overflow: ellipsis;
}
#areaListLists input:hover {
  background-color: #eee;
}
#areaListLists input.active {
  position: relative;
  color: #000;
  border-left-color: #ccc;
}
#areaListLists input.active.hidden {
  background-color: #eee;
}
#areaListLists li span {
  width: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
  cursor: pointer;
  display: none;
}
#areaListLists li span {
  color: #666;
}
#areaListLists .listRemove {
  height: 20px;
  line-height: 18px;
  margin: 10px 6px;
}
#areaListLists .listRemove:hover {
  background-color: #ddd;
}

#listAdd {
  display: none;
}
#listAdd #listAddName {
  display: none;
  padding: 0;
  background-color: transparent;
  color: #aaa;
  border-right: none;
  width: calc(100% - 10px);
}
#listAdd #listAddName:hover {
  cursor: pointer;
  color: #999;
}
#listAdd #listAddName.active {
  display: block;
  border: none;
  background-color: #fff;
  padding-left: 10px;
  border-radius: 0 40px 40px 0;
}

#txtNew {
  background: transparent;
  border: none;
  width: calc(100% - 60px);
  height: 39px;
  padding: 0 10px;
  outline: none;
}
#btnNew,
#btnNewList {
  display: inline-block;
  border-radius: 11px;
  color: #ccc;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  margin: 10px 0;
}
#btnNew:hover,
#btnNewList:hover {
  background-color: #eeeeee;
  color: #666;
}
#btnNewList.hide {
  display: none;
}

#areaNew {
  grid-column: 1;
  grid-row: 2;
  border-bottom: 1px solid #eee;
}
#areaPinNotes {
  grid-column: 1;
  grid-row: 3;
}
#areaListNotes {
  grid-column: 1;
  grid-row: 4;
  overflow: hidden auto;
}

#areaNew:hover,
#areaNew:has(#txtNew:focus) {
  border-color: #ccc;
}

#areaListNotes li,
#areaPinNotes li {
  list-style: none;
  height: auto;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  padding: 0 10px;
  grid-template-columns: 26px 1fr 90px auto auto auto auto auto;
  display: grid;
}
#areaListNotes input[type='text'],
#areaPinNotes input[type='text']  {
  border: none;
  outline: none;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  cursor: default;
  color: #666;
  text-overflow: ellipsis;
}
#areaListNotes input[type='text'].active,
#areaPinNotes input[type='text'].active {
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 10px #66666666;
  color: #000;
}
#areaListNotes li.edit > input[type='text'],
#areaPinNotes li.edit > input[type='text'] {
  cursor: text;
  background-color: #ffffff99;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  margin-top: 4px;
  border-radius: 30px;
}
#areaListNotes li.edit span.notePin,
#areaListNotes li.edit span.noteRemove,
#areaPinNotes li.edit span.noteRemove {
  display: inline;
}
#areaPinNotes li.edit span.noteMoment,
#areaListNotes li.edit span.noteMoment {
  display: none;
}
#areaPinNotes li.edit:has(.noteMoment),
#areaListNotes li.edit:has(.noteMoment) {
  grid-template-columns: 26px 1fr auto auto auto auto;
}
#areaListNotes li:hover input[type='text'],
#areaPinNotes li:hover input[type='text'] {
  color: #333;
}
#areaListNotes li:hover input[type='checkbox'],
#areaPinNotes li:hover input[type='checkbox'] {
  border-color: #ccc;
}
#areaListNotes li span.noteRemove,
#areaPinNotes li span.noteRemove {
  z-index: 2;
  display: none;
}
#areaListNotes li span.noteMoment,
#areaPinNotes li span.noteMoment {
  font-size: 10px;
  text-align: right;
  color: #666;
  padding-right: 10px;
  text-overflow: ellipsis;
  height: 40px;
}
#areaListNotes li.completed input[type='text'],
#areaPinNotes li.completed input[type='text'] {
  background-color: transparent;
  color: #999;
  text-decoration: line-through;
}
#areaPinNotes li.completed .noteMoment,
#areaListNotes li.completed .noteMoment {
  color: #999;
}
#areaPinNotes li.completed input[type="checkbox"]::before,
#areaListNotes li.completed input[type="checkbox"]::before {
  background-color: #ccc;
}
#areaListNotes .notePin {
  display: none;
  z-index: 2;
  line-height: 24px;
}
#areaPinNotes li {
  grid-template-columns: 26px 1fr 90px 20px auto auto;
}
#areaPinNotes li:last-child {
  border-bottom-color: #ccc;
}
#areaPinNotes .notePin {
  line-height: 24px;
  background-color: #eeeeee99;
}

#areaListNotes .noteSubList, 
#areaPinNotes .noteSubList {
  display: none;
  margin-left: 10px;
  margin-right: 20px;
  grid-column: 1 / -1;
  height: 0%;
}
#areaListNotes .noteSubList li, 
#areaPinNotes .noteSubList li {
  grid-template-columns: 26px 1fr auto auto;
  border: none;
}
#areaListNotes li.edit .noteSubList,
#areaPinNotes li.edit .noteSubList {
  display: grid;
}
#areaListNotes li.expand .noteSubList,
#areaPinNotes li.expand .noteSubList {
  display: grid;
}

#areaSettings {
  grid-column: 1;
  grid-row: 2;
  line-height: 40px;
  padding: 0 8px;
  border-left: 4px solid transparent;
}
#areaSettings.active {
  z-index: 9;
  border-left-color: #ccc;
}
#areaSettings #btnSettings {
  width: 30px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: #ccc;
}
#areaSettings.active #btnSettings,
#areaSettings #btnSettings:hover {
  color: #999;
}

.modal {
  display: none;
  grid-column: 1;
  grid-row: 2 / span 3;
  background-color: #fff;
  width: 100%;
  /* height: calc(100% - 40px); */
  padding-left: 10px;
  z-index: 1;
  overflow: hidden auto;
}
.modal.open {
  display: block;
}
.modal .modal-contents {
  height: 100%;
  padding: 10px;
  overflow: auto;
}
.modal .brand {
  font-size: 24px;
  margin-bottom: 6px;
}
.modal .brand-version {
  font-size: 12px;
}
.modal-section {
  padding: 10px 0;
  margin-bottom: 10px;
}
.modal-section-title {
  color: #333;
  font-size: 12px;
  margin-bottom: 10px;
}
.modal-section-desc {
  color: #666666cc;
  font-size: 10px;
  margin-bottom: 10px;
}
.modal-section button {
  background-color: #eeeeee99;
  border: 1px solid #cccccc99;
  border-radius: 30px;
  color: #00000099;
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  line-height: 16px;
  padding: 6px 12px;
}
.modal-section button:hover {
  background-color: #eeeeeeee;
  border: 1px solid #ccccccee;
  color: #000000ee;
}
.themeSelection {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 3px solid transparent;
  border-radius: 20px;
  margin: 0 2px;
  cursor: pointer;
}
.themeSelection.selected {
  border-color: transparent;
}
.sectionMode {
  margin-bottom: 10px;
}
.sectionMode .modeSelection {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 33px;
  margin: 0 2px;
}
.sectionMode #mode-light {
  background: url('./images/sun.svg') center center no-repeat #eee;
}
.sectionMode #mode-dark {
  background: url('./images/moon.svg') center center no-repeat #999;
  filter: invert(1);
}

#areaListNotes .sortable-ghost,
#areaPinNotes .sortable-ghost  {
  opacity: .6;
  background-color: #fff;
}
.sortable-chosen input[type='checkbox'] {
  background-color: #ffffff33;
}
#areaListNotes .sortable-chosen,
#areaListNotes .sortable-chosen input,
#areaPinNotes .sortable-chosen,
#areaPinNotes .sortable-chosen input {
  background-color: #eee;
  border: none;
}
.sortable-fallback,
.sortable-fallback input {
  background-color: #fff;
}

#brand,
.placeholder {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
#titlebar {
  display: grid;
  grid-row: 1;
  grid-template-columns: 30px 30px 30px 1fr 30px 30px 30px;
  align-items: center;
  padding: 0 10px 0 4px;
  position: relative;;
  height: 40px;
  z-index: 10;
  text-align: center;
  line-height: 40px;
  font-size: .8rem;
  border-bottom: 1px solid #ccc;
  /* border-radius: 6px 6px 0 0; */
}
span.appIcon {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  opacity: .3;
}
span.appIcon:hover {
  opacity: 1;
  background-color: #cccccc66;
  box-shadow: inset #cccccc66;
}
.appSidebar {
  background: url('./images/layout-sidebar.svg') center center no-repeat transparent;
}
.appAlwaysOnTop {
  background: url('./images/pin.svg') center center no-repeat transparent;
}
.appAlwaysOnTop.active {
  background: url('./images/pin-fill.svg') center center no-repeat transparent;
}
.appMinimize {
  background: url('./images/dash.svg') center center no-repeat transparent;
}
.appQuit {
  background: url('./images/x.svg') center center no-repeat transparent;
}
.ar .modal-contents {
  text-align: right;
  padding-right: 20px;
}

#web {
  border: none;
}
#web #titlebar {
  display: none;
}
#web .panelsContainer {
  border-radius: 10px;
  box-shadow: 0 0 10px #00000066;
  margin: 100px auto 30px;
  width: 60%;
  height: calc(100vh - 300px);
}
#web footer {
  font-size: 9px;
  margin: 10px auto;
  width: 60%;
  height: 160px;
  text-align: center;
}
#web #links {
  margin: 10px;
}
#web #links a {
  color: #000;
  padding: 0 3px;
}