/* Common */
[class^="theme"] ::-webkit-scrollbar-track,
[class^="theme"] #txtNew,
[class^="theme"] #areaPinNotes li,
[class^="theme"] #areaListNotes li,
[class^="theme"] #areaListLists input,
[class^="theme"] #areaListLists input.active.hidden,
[class^="theme"] input[type='checkbox'],
[class^="theme"] #areaListNotes input[type='text'],
[class^="theme"] #areaPinNotes input[type='text'],
[class^="theme"] .modal {
  background-color: transparent;
}
[class^="theme"] #areaListNotes li.completed input[type="checkbox"]::before,
[class^="theme"] #areaPinNotes li.completed input[type="checkbox"]::before {
  background-color: #eeeeeeee;
}
[class^="theme"] #panelList li.sortable-fallback,
[class^="theme"] #panelNote li.sortable-fallback,
[class^="theme"] #areaPinNotes li.edit > .noteContent,
[class^="theme"] #areaListNotes li.edit > .noteContent,
[class^="theme"] #listAdd #listAddName.active {
  background-color: #ffffff99;
}
[class^="theme"] #panelNote,
[class^="theme"] #gutter,
[class^="theme"] #areaListLists input.active,
[class^="theme"] #areaSettings.active {
  background-color: #ffffff66;
}
[class^="theme"] #panelList .sortable-chosen,
[class^="theme"] ::-webkit-scrollbar-thumb,
[class^="theme"] ::-webkit-scrollbar-thumb:hover {
  background-color: #00000033;
}
[class^="theme"] #areaListLists input,
[class^="theme"] #listAdd #listAddName,
[class^="theme"] #areaListLists li span {
  color: #ffffff99;
}
[class^="theme"] #listAdd #listAddName:hover,
[class^="theme"] #areaSettings #btnSettings:hover,
[class^="theme"] #areaSettings.active #btnSettings {
  color: #ffffffee;
}
[class^="theme"] #areaListLists input.active,
[class^="theme"] #listAdd #listAddName.active {
  color: #000;
}
[class^="theme"] #areaPinNotes input[type='text'],
[class^="theme"] #areaListNotes input[type='text'],
[class^="theme"] #areaPinNotes li span.noteMoment,
[class^="theme"] #areaListNotes li span.noteMoment {
  color: #00000099;
}
[class^="theme"] #areaPinNotes li.completed input[type='text'],
[class^="theme"] #areaListNotes li.completed input[type='text'] {
  color: #00000033;
}

/* mode-dark */
.theme-dark header,
.theme-dark .panelsContainer,
.theme-dark #panelList,
.theme-dark #panelList li.sortable-fallback,
.theme-dark #panelNote li.sortable-fallback {
  background-color: var(--dark);
}
.theme-dark #panelList .sortable-chosen,
.theme-dark #panelNote .sortable-chosen,
.theme-dark #listAdd #listAddName.active {
  background-color: #00000099;
}
.theme-dark #panelNote,
.theme-dark #gutter,
.theme-dark #areaListLists input.active,
.theme-dark #areaListLists li.edit,
.theme-dark #areaPinNotes li.edit > .noteContent,
.theme-dark #areaListNotes li.edit > .noteContent,
.theme-dark #areaSettings.active {
  background-color: #00000066;
}
.theme-dark input[type="checkbox"]::before,
.theme-dark .icon:hover {
  background-color: #ffffffcc;
}
.theme-dark ::-webkit-scrollbar-thumb,
.theme-dark ::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff33;
}
.theme-dark #txtNew:focus {
  background-color: transparent;
}
.theme-dark #listAdd #listAddName {
  color: #00000099;
}
.theme-dark #listAdd #listAddName:hover,
.theme-dark .icon:hover,
.theme-dark #areaPinNotes .notePin,
.theme-dark #btnNew:hover {
  color: #000000ee;
}
.theme-dark #txtNew,
.theme-dark #areaListLists input.active,
.theme-dark #listAdd #listAddName.active,
.theme-dark #areaPinNotes li:hover input[type='text'],
.theme-dark #areaListNotes li:hover input[type='text'] {
  color: #fff;
}
.theme-dark #areaListNotes input[type='text'],
.theme-dark #areaListNotes li span.noteMoment,
.theme-dark #areaListLists li span,
.theme-dark #areaPinNotes input[type='text'],
.theme-dark #areaPinNotes li span.noteMoment,
.theme-dark .modal-section,
.theme-dark .modal-section-title,
.theme-dark #areaSettings.active #btnSettings,
.theme-dark #areaSettings #btnSettings:hover {
  color: #ffffff99;
}
.theme-dark #areaListLists input {
  color: #ffffff66;
}
.theme-dark #areaSettings #btnSettings,
.theme-dark #areaPinNotes li.completed input[type='text'],
.theme-dark #areaListNotes li.completed input[type='text'] {
  color: #ffffff33;
}
.theme-dark,
.theme-dark #areaNew,
.theme-dark #areaPinNotes li,
.theme-dark #areaListNotes li {
  border-color: var(--dark-cc);
}
.theme-dark #areaNew:hover,
.theme-dark #areaNew:has(#txtNew:focus),
.theme-dark #areaPinNotes li:last-child {
  border-color: #ffffff66;
}
.theme-dark input[type='checkbox'],
.theme-dark #areaListNotes li.edit > input[type='text'], 
.theme-dark #areaPinNotes li.edit > input[type='text'] {
  border-color: #666;
}
.theme-dark #areaPinNotes li:hover input[type='checkbox'],
.theme-dark #areaListNotes li:hover input[type='checkbox'] {
  border-color: #999;
}
.theme-dark input[type="range"] {
  accent-color: var(--dark);
}
.theme-dark .noteCollapse.show {
  filter: invert(.6);
}
.theme-dark .noteCollapse.show:hover {
  filter: invert(.9);
}
#web.theme-dark {
  background-image: radial-gradient(var(--dark-cc), #000);
}
#web.theme-dark .panelsContainer {
  box-shadow: 0 0 10px #000;
}

/* blue */
.theme-blue header,
.theme-blue .panelsContainer,
.theme-blue #panelList,
.theme-blue #panelNote .sortable-chosen {
  background-color: var(--blue);
}
.theme-blue #areaPinNotes .notePin {
  background-color: var(--blue-33);
}
.theme-blue,
.theme-blue input[type='checkbox'] {
  border-color: var(--blue);
}
.theme-blue #areaNew,
.theme-blue #areaPinNotes li,
.theme-blue #areaListNotes li {
  border-color: var(--blue-66);
}
.theme-blue #areaNew:hover,
.theme-blue #areaNew:has(#txtNew:focus),
.theme-blue #areaPinNotes li:last-child,
.theme-blue #areaPinNotes li:hover input[type='checkbox'],
.theme-blue #areaListNotes li:hover input[type='checkbox'],
.theme-blue #areaPinNotes li.edit > input[type='text'],
.theme-blue #areaListNotes li.edit > input[type='text'] {
  border-color: var(--blue-cc);
}
.theme-blue #btnNew {
  color: var(--blue-ee);
}
.theme-blue #areaNew:hover #btnNew,
.theme-blue #areaNew:has(#txtNew:focus) #btnNew,
.theme-blue .icon,
.theme-blue #areaListLists .listRemove:hover {
  color: var(--blue);
}
.theme-blue input[type="range"] {
  accent-color: var(--blue);
}
#web.theme-blue {
  background-image: radial-gradient(var(--blue-66), var(--blue));
}
#web.theme-blue .panelsContainer {
  box-shadow: 0 0 10px var(--blue-cc);
}

/* red */
.theme-red header,
.theme-red .panelsContainer,
.theme-red #panelList,
.theme-red #panelNote .sortable-chosen {
  background-color: var(--red);
}
.theme-red #areaPinNotes .notePin {
  background-color: var(--red-33);
}
.theme-red,
.theme-red input[type='checkbox'] {
  border-color: var(--red);
}
.theme-red #areaNew,
.theme-red #areaPinNotes li,
.theme-red #areaListNotes li {
  border-color: var(--red-66);
}
.theme-red #areaNew:hover,
.theme-red #areaNew:has(#txtNew:focus),
.theme-red #areaPinNotes li:last-child,
.theme-red #areaPinNotes li:hover input[type='checkbox'],
.theme-red #areaListNotes li:hover input[type='checkbox'],
.theme-red #areaPinNotes li.edit > input[type='text'],
.theme-red #areaListNotes li.edit > input[type='text'] {
  border-color: var(--red-cc);
}
.theme-red #btnNew {
  color: var(--red-ee);
}
.theme-red #areaNew:hover #btnNew,
.theme-red #areaNew:has(#txtNew:focus) #btnNew,
.theme-red .icon,
.theme-red #areaListLists .listRemove:hover {
  color: var(--red);
}
.theme-red input[type="range"] {
  accent-color: var(--red);
}
#web.theme-red {
  background-image: radial-gradient(var(--red-66), var(--red));
}
#web.theme-red .panelsContainer {
  box-shadow: 0 0 10px var(--red-cc);
}

/* orange */
.theme-orange header,
.theme-orange .panelsContainer,
.theme-orange #panelList,
.theme-orange #panelNote .sortable-chosen {
  background-color: var(--orange);
}
.theme-orange #areaPinNotes .notePin {
  background-color: var(--orange-33);
}
.theme-orange,
.theme-orange input[type='checkbox'] {
  border-color: var(--orange);
}
.theme-orange #areaNew,
.theme-orange #areaPinNotes li,
.theme-orange #areaListNotes li {
  border-color: var(--orange-66);
}
.theme-orange #areaNew:hover,
.theme-orange #areaNew:has(#txtNew:focus),
.theme-orange #areaPinNotes li:last-child,
.theme-orange #areaPinNotes li:hover input[type='checkbox'],
.theme-orange #areaListNotes li:hover input[type='checkbox'],
.theme-orange #areaPinNotes li.edit > input[type='text'],
.theme-orange #areaListNotes li.edit > input[type='text'] {
  border-color: var(--orange-cc);
}
.theme-orange #btnNew {
  color: var(--orange-ee);
}
.theme-orange #areaNew:hover #btnNew,
.theme-orange #areaNew:has(#txtNew:focus) #btnNew,
.theme-orange .icon,
.theme-orange #areaListLists .listRemove:hover {
  color: var(--orange);
}
.theme-orange input[type="range"] {
  accent-color: var(--orange);
}
#web.theme-orange {
  background-image: radial-gradient(var(--orange-66), var(--orange));
}
#web.theme-orange .panelsContainer {
  box-shadow: 0 0 10px var(--orange-cc);
}

/* yellow */
.theme-yellow header,
.theme-yellow .panelsContainer,
.theme-yellow #panelList,
.theme-yellow #panelNote .sortable-chosen {
  background-color: var(--yellow);
}
.theme-yellow #areaPinNotes .notePin {
  background-color: var(--yellow-33);
}
.theme-yellow,
.theme-yellow input[type='checkbox'] {
  border-color: var(--yellow);
}
.theme-yellow #areaNew,
.theme-yellow #areaPinNotes li,
.theme-yellow #areaListNotes li {
  border-color: var(--yellow-66);
}
.theme-yellow #areaNew:hover,
.theme-yellow #areaNew:has(#txtNew:focus),
.theme-yellow #areaPinNotes li:last-child,
.theme-yellow #areaPinNotes li:hover input[type='checkbox'],
.theme-yellow #areaListNotes li:hover input[type='checkbox'],
.theme-yellow #areaPinNotes li.edit > input[type='text'],
.theme-yellow #areaListNotes li.edit > input[type='text'] {
  border-color: var(--yellow-cc);
}
.theme-yellow #btnNew {
  color: var(--yellow-ee);
}
.theme-yellow #areaNew:hover #btnNew,
.theme-yellow #areaNew:has(#txtNew:focus) #btnNew,
.theme-yellow .icon,
.theme-yellow #areaListLists .listRemove:hover {
  color: var(--yellow);
}
.theme-yellow input[type="range"] {
  accent-color: var(--yellow);
}
#web.theme-yellow {
  background-image: radial-gradient(var(--yellow-66), var(--yellow));
}
#web.theme-yellow .panelsContainer {
  box-shadow: 0 0 10px var(--yellow-cc);
}

/* olive */
.theme-olive header,
.theme-olive .panelsContainer,
.theme-olive #panelList,
.theme-olive #panelNote .sortable-chosen {
  background-color: var(--olive);
}
.theme-olive #areaPinNotes .notePin {
  background-color: var(--olive-33);
}
.theme-olive,
.theme-olive input[type='checkbox'] {
  border-color: var(--olive);
}
.theme-olive #areaNew,
.theme-olive #areaPinNotes li,
.theme-olive #areaListNotes li {
  border-color: var(--olive-66);
}
.theme-olive #areaNew:hover,
.theme-olive #areaNew:has(#txtNew:focus),
.theme-olive #areaPinNotes li:last-child,
.theme-olive #areaPinNotes li:hover input[type='checkbox'],
.theme-olive #areaListNotes li:hover input[type='checkbox'],
.theme-olive #areaPinNotes li.edit > input[type='text'],
.theme-olive #areaListNotes li.edit > input[type='text'] {
  border-color: var(--olive-cc);
}
.theme-olive #btnNew {
  color: var(--olive-ee);
}
.theme-olive #areaNew:hover #btnNew,
.theme-olive #areaNew:has(#txtNew:focus) #btnNew,
.theme-olive .icon,
.theme-olive #areaListLists .listRemove:hover {
  color: var(--olive);
}
.theme-olive input[type="range"] {
  accent-color: var(--olive);
}
#web.theme-olive {
  background-image: radial-gradient(var(--olive-66), var(--olive));
}
#web.theme-olive .panelsContainer {
  box-shadow: 0 0 10px var(--olive-cc);
}

/* green */
.theme-green header,
.theme-green .panelsContainer,
.theme-green #panelList,
.theme-green #panelNote .sortable-chosen {
  background-color: var(--green);
}
.theme-green #areaPinNotes .notePin {
  background-color: var(--green-33);
}
.theme-green,
.theme-green input[type='checkbox'] {
  border-color: var(--green);
}
.theme-green #areaNew,
.theme-green #areaPinNotes li,
.theme-green #areaListNotes li {
  border-color: var(--green-66);
}
.theme-green #areaNew:hover,
.theme-green #areaNew:has(#txtNew:focus),
.theme-green #areaPinNotes li:last-child,
.theme-green #areaPinNotes li:hover input[type='checkbox'],
.theme-green #areaListNotes li:hover input[type='checkbox'],
.theme-green #areaPinNotes li.edit > input[type='text'],
.theme-green #areaListNotes li.edit > input[type='text'] {
  border-color: var(--green-cc);
}
.theme-green #btnNew {
  color: var(--green-ee);
}
.theme-green #areaNew:hover #btnNew,
.theme-green #areaNew:has(#txtNew:focus) #btnNew,
.theme-green .icon,
.theme-green #areaListLists .listRemove:hover {
  color: var(--green);
}
.theme-green input[type="range"] {
  accent-color: var(--green);
}
#web.theme-green {
  background-image: radial-gradient(var(--green-66), var(--green));
}
#web.theme-green .panelsContainer {
  box-shadow: 0 0 10px var(--green-cc);
}

/* teal */
.theme-teal header,
.theme-teal .panelsContainer,
.theme-teal #panelList,
.theme-teal #panelNote .sortable-chosen {
  background-color: var(--teal);
}
.theme-teal #areaPinNotes .notePin {
  background-color: var(--teal-33);
}
.theme-teal,
.theme-teal input[type='checkbox'] {
  border-color: var(--teal);
}
.theme-teal #areaNew,
.theme-teal #areaPinNotes li,
.theme-teal #areaListNotes li {
  border-color: var(--teal-66);
}
.theme-teal #areaNew:hover,
.theme-teal #areaNew:has(#txtNew:focus),
.theme-teal #areaPinNotes li:last-child,
.theme-teal #areaPinNotes li:hover input[type='checkbox'],
.theme-teal #areaListNotes li:hover input[type='checkbox'],
.theme-teal #areaPinNotes li.edit > input[type='text'],
.theme-teal #areaListNotes li.edit > input[type='text'] {
  border-color: var(--teal-cc);
}
.theme-teal #btnNew {
  color: var(--teal-ee);
}
.theme-teal #areaNew:hover #btnNew,
.theme-teal #areaNew:has(#txtNew:focus) #btnNew,
.theme-teal .icon,
.theme-teal #areaListLists .listRemove:hover {
  color: var(--teal);
}
.theme-teal input[type="range"] {
  accent-color: var(--teal);
}
#web.theme-teal {
  background-image: radial-gradient(var(--teal-66), var(--teal));
}
#web.theme-teal .panelsContainer {
  box-shadow: 0 0 10px var(--teal-cc);
}

/* violet */
.theme-violet header,
.theme-violet .panelsContainer,
.theme-violet #panelList,
.theme-violet #panelNote .sortable-chosen {
  background-color: var(--violet);
}
.theme-violet #areaPinNotes .notePin {
  background-color: var(--violet-33);
}
.theme-violet,
.theme-violet input[type='checkbox'] {
  border-color: var(--violet);
}
.theme-violet #areaNew,
.theme-violet #areaPinNotes li,
.theme-violet #areaListNotes li {
  border-color: var(--violet-66);
}
.theme-violet #areaNew:hover,
.theme-violet #areaNew:has(#txtNew:focus),
.theme-violet #areaPinNotes li:last-child,
.theme-violet #areaPinNotes li:hover input[type='checkbox'],
.theme-violet #areaListNotes li:hover input[type='checkbox'],
.theme-violet #areaPinNotes li.edit > input[type='text'],
.theme-violet #areaListNotes li.edit > input[type='text'] {
  border-color: var(--violet-cc);
}
.theme-violet #btnNew {
  color: var(--violet-ee);
}
.theme-violet #areaNew:hover #btnNew,
.theme-violet #areaNew:has(#txtNew:focus) #btnNew,
.theme-violet .icon,
.theme-violet #areaListLists .listRemove:hover {
  color: var(--violet);
}
.theme-violet input[type="range"] {
  accent-color: var(--violet);
}
#web.theme-violet {
  background-image: radial-gradient(var(--violet-66), var(--violet));
}
#web.theme-violet .panelsContainer {
  box-shadow: 0 0 10px var(--violet-cc);
}

/* purple */
.theme-purple header,
.theme-purple .panelsContainer,
.theme-purple #panelList,
.theme-purple #panelNote .sortable-chosen {
  background-color: var(--purple);
}
.theme-purple #areaPinNotes .notePin {
  background-color: var(--purple-33);
}
.theme-purple,
.theme-purple input[type='checkbox'] {
  border-color: var(--purple);
}
.theme-purple #areaNew,
.theme-purple #areaPinNotes li,
.theme-purple #areaListNotes li {
  border-color: var(--purple-66);
}
.theme-purple #areaNew:hover,
.theme-purple #areaNew:has(#txtNew:focus),
.theme-purple #areaPinNotes li:last-child,
.theme-purple #areaPinNotes li:hover input[type='checkbox'],
.theme-purple #areaListNotes li:hover input[type='checkbox'],
.theme-purple #areaPinNotes li.edit > input[type='text'],
.theme-purple #areaListNotes li.edit > input[type='text'] {
  border-color: var(--purple-cc);
}
.theme-purple #btnNew {
  color: var(--purple-ee);
}
.theme-purple #areaNew:hover #btnNew,
.theme-purple #areaNew:has(#txtNew:focus) #btnNew,
.theme-purple .icon,
.theme-purple #areaListLists .listRemove:hover {
  color: var(--purple);
}
.theme-purple input[type="range"] {
  accent-color: var(--purple);
}
#web.theme-purple {
  background-image: radial-gradient(var(--purple-66), var(--purple));
}
#web.theme-purple .panelsContainer {
  box-shadow: 0 0 10px var(--purple-cc);
}

/* pink */
.theme-pink header,
.theme-pink .panelsContainer,
.theme-pink #panelList,
.theme-pink #panelNote .sortable-chosen {
  background-color: var(--pink);
}
.theme-pink #areaPinNotes .notePin {
  background-color: var(--pink-33);
}
.theme-pink,
.theme-pink input[type='checkbox'] {
  border-color: var(--pink);
}
.theme-pink #areaNew,
.theme-pink #areaPinNotes li,
.theme-pink #areaListNotes li {
  border-color: var(--pink-66);
}
.theme-pink #areaNew:hover,
.theme-pink #areaNew:has(#txtNew:focus),
.theme-pink #areaPinNotes li:last-child,
.theme-pink #areaPinNotes li:hover input[type='checkbox'],
.theme-pink #areaListNotes li:hover input[type='checkbox'],
.theme-pink #areaPinNotes li.edit > input[type='text'],
.theme-pink #areaListNotes li.edit > input[type='text'] {
  border-color: var(--pink-cc);
}
.theme-pink #btnNew {
  color: var(--pink-ee);
}
.theme-pink #areaNew:hover #btnNew,
.theme-pink #areaNew:has(#txtNew:focus) #btnNew,
.theme-pink .icon,
.theme-pink #areaListLists .listRemove:hover {
  color: var(--pink);
}
.theme-pink input[type="range"] {
  accent-color: var(--pink);
}
#web.theme-pink {
  background-image: radial-gradient(var(--pink-66), var(--pink));
}
#web.theme-pink .panelsContainer {
  box-shadow: 0 0 10px var(--pink-cc);
}
